<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/public/styles/style.css" type="text/css" />
  </head>
  <body>
    <div class="chatting-room">
      <header class="chatting-room-header">
        <ul class="profile-img-list">
          리스트
        </ul>
        <div class="chatting-room-name">방 이름</div>
        <button class="more">더보기</button>
      </header>
      <main>
        <div>2022/ 06/ 17</div>
        <ul class="chat-list"></ul>
      </main>
    </div>
  </body>
</html>
